{% extends "base.html" %}

{% block title %}Ticket and Review Creation{% endblock %}

{% block content %}
    <div class="ticket-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 text-center">
                    <h4>Ticket</h4>
                    <div class="form-group">
                        <label class="fill-available-width" for="{{ form.title.id_for_label }}">Book / Article</label>
                        {{ form.title }}
                    </div>
                    <div class="form-group">
                        <label class="fill-available-width" for="{{ form.description.id_for_label }}">Description</label>
                        {{ form.description }}
                    </div>
                    <div class="form-group">
                        <label class="fill-available-width" for="{{ form.image.id_for_label }}">Image</label>
                        {{ form.image }}
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <h4>Review</h4>
                    <div class="form-group">
                        <label class="fill-available-width" for="{{ form.review_headline.id_for_label }}">Headline</label>
                        {{ form.review_headline }}
                    </div>
                    <div class="form-group">
                        <label class="fill-available-width" for="{{ form.review_rating.id_for_label }}">Rating</label>
                        {{ form.review_rating }}
                    </div>
                    <div class="form-group">
                        <label class="fill-available-width" for="{{ form.review_body.id_for_label }}">Body</label>
                        {{ form.review_body }}
                    </div>
                </div>
                <div class="col-md-12 text-center mt-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}