{% extends "base.html" %}

{% block title %}Review Creation{% endblock %}

{% block content %}
    <div class="ticket-container">
        <div class="row">
        <div class="col-md-6">
            <h4>Review for:</h4>
            <p>{{ ticket.user }} posted a ticket</p>
            <p>Title: {{ ticket.title }}</p>
            <p>Description: {{ ticket.description }}</p>
            <img src="{{ ticket.image.url }}" class="img-fluid" alt="{{ ticket.title }}">
        </div>
        <div class="col-md-6">
            <h4>Create a Review</h4>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}
