{% extends "base.html" %}

{% block title %}tickets{% endblock %}

{% block content %}
        <h1 class="mb-4">My Tickets</h1>
        <ul class="list-group">
            {% for ticket in tickets %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ ticket.pk }} - {{ ticket.title }} - {{ ticket.user }}
                <a href="{% url 'ticket-update' ticket.pk %}" class="btn btn-primary">Modify</a>
                <a href="{% url 'create-review' ticket.pk %}" class="btn btn-primary">Create Review</a>
              </li>
            {% endfor %}
        </ul>
{% endblock %}