<!DOCTYPE html>
<html>
<head>
    <title>tickets</title>
</head>
<body>
    <div class="container">
        <h1>My Tickets</h1>
        <ul>
            {% for ticket in tickets %}
              <li>
                {{ ticket.pk }} - {{ ticket.title }}
                <a href="{% url 'ticket-update' ticket.pk %}" class="btn btn-primary">Modify</a>
                <a href="{% url 'create-review' ticket.pk %}">Review</a>
              </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>