{% extends "base.html" %}

{% block title %}follow page{% endblock %}

{% block content %}
    <div class="follow-user border rounded p-3">
        <h4>Search for users to follow</h4>
        <form class="d-flex justify-content-center" method="post" action="{% url 'user-follow' %}">
            {% csrf_token %}
            <div class="form-group mx-auto">
                <label for="id_follow_username">Search user:</label>
                {{ form.follow_username }}
                {% if form.follow_username.errors %}
                <div class="alert alert-danger">
                    {% for error in form.follow_username.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary mx-auto">Follow</button>
        </form>
    </div>
    <div class="followed-users border rounded p-3">
        <h4>Followed Users</h4>
        <ul class="list-group">
            {% for user_follow in follow_data.followed_users %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ user_follow.followed_user.username }}
                    <a href="{% url 'user-unfollow' user_follow.pk %}" class="btn btn-danger">Unfollow</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="users-following border rounded p-3 mt-3">
        <h4>Users Following You</h4>
        <ul class="list-group">
            {% for user_follow in follow_data.users_following %}
                <li class="list-group-item d-flex justify-content-center">
                    {{ user_follow.user.username }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}